<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Big_H01.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,594},{146,166}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,56},{146,166}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_H02.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,446},{146,166}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,56},{146,166}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_H03.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,446},{146,166}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,56},{146,166}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_H04.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,782},{146,166}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,56},{146,166}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_H05.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,614},{146,166}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,56},{146,166}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_H06.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,446},{146,166}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,56},{146,166}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_H07.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,298},{146,166}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,56},{146,166}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_H08.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,298},{146,166}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,56},{146,166}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_H09.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,298},{146,166}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,56},{146,166}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_H10.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,802},{146,166}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,56},{146,166}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_H11.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,634},{146,166}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,56},{146,166}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_H12.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,466},{146,166}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,56},{146,166}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_H13.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,298},{146,166}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,56},{146,166}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_H14.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,150},{146,166}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,56},{146,166}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_H15.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,150},{146,166}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,56},{146,166}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_H16.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,150},{146,166}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,56},{146,166}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_H17.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,150},{146,166}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,56},{146,166}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_H18.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,822},{146,166}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,56},{146,166}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_H19.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,654},{146,166}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,56},{146,166}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_H20.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,486},{146,166}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,56},{146,166}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_H21.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,318},{146,166}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,56},{146,166}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_H22.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,150},{146,166}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,56},{146,166}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_H23.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{146,166}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,56},{146,166}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_H24.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{146,166}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,56},{146,166}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_H25.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{146,166}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,56},{146,166}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_H26.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{146,166}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,56},{146,166}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_H27.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{146,166}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,56},{146,166}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_H28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{146,166}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,56},{146,166}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_H29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{146,166}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,56},{146,166}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_H30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{146,166}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,56},{146,166}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_H31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{146,166}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,56},{146,166}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_H32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{146,166}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,56},{146,166}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_H33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,166}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,56},{146,166}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BigHAnim.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:515554188995ce3f651ba74e3d97f638:1/1$</string>
            <key>textureFileName</key>
            <string>BigHAnim.png</string>
        </dict>
    </dict>
</plist>
