<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Little_h01.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,306},{114,150}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,70},{114,150}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_h02.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,234},{114,150}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,70},{114,150}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_h03.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,234},{114,150}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,70},{114,150}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_h04.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,234},{114,150}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,70},{114,150}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_h05.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,234},{114,150}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,70},{114,150}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_h06.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,762},{114,150}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,70},{114,150}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_h07.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,610},{114,150}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,70},{114,150}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_h08.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,458},{114,150}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,70},{114,150}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_h09.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,306},{114,150}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,70},{114,150}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_h10.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,154},{114,150}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,70},{114,150}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_h11.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,118},{114,150}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,70},{114,150}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_h12.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,118},{114,150}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,70},{114,150}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_h13.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,118},{114,150}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,70},{114,150}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_h14.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,118},{114,150}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,70},{114,150}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_h15.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,118},{114,150}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,70},{114,150}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_h16.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{114,150}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,70},{114,150}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_h17.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{114,150}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,70},{114,150}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_h18.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{114,150}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,70},{114,150}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_h19.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{114,150}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,70},{114,150}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_h20.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{114,150}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,70},{114,150}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_h21.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{114,150}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,70},{114,150}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_h22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{114,150}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,70},{114,150}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_h23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{114,150}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,70},{114,150}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_h24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{114,150}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,70},{114,150}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_h25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{114,150}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,70},{114,150}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_h26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{114,150}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,70},{114,150}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_h27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,150}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,70},{114,150}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LittleHAnim.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8829fdd3ec8d0b58bce7d7a0102a1d2e:1/1$</string>
            <key>textureFileName</key>
            <string>LittleHAnim.png</string>
        </dict>
    </dict>
</plist>
