<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>020001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{514,488}}</string>
                <key>offset</key>
                <string>{-20,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,111},{514,488}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>020002.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,964},{512,490}}</string>
                <key>offset</key>
                <string>{-21,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,109},{512,490}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>020003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,964},{508,490}}</string>
                <key>offset</key>
                <string>{-23,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,109},{508,490}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>020004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,996},{504,492}}</string>
                <key>offset</key>
                <string>{-24,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,107},{504,492}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>020005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,1456},{500,492}}</string>
                <key>offset</key>
                <string>{-26,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,107},{500,492}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>020006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2426},{496,494}}</string>
                <key>offset</key>
                <string>{-27,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,105},{496,494}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>020007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,1950},{492,494}}</string>
                <key>offset</key>
                <string>{-29,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{365,105},{492,494}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>020008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,1490},{496,492}}</string>
                <key>offset</key>
                <string>{-27,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,107},{496,492}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>020009.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1944},{500,490}}</string>
                <key>offset</key>
                <string>{-26,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,109},{500,490}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>020010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1936},{504,488}}</string>
                <key>offset</key>
                <string>{-25,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,111},{504,488}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>020011.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1456},{508,486}}</string>
                <key>offset</key>
                <string>{-23,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,113},{508,486}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>020012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,484},{510,482}}</string>
                <key>offset</key>
                <string>{-22,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{363,117},{510,482}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>020013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1454},{512,480}}</string>
                <key>offset</key>
                <string>{-20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,119},{512,480}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>020014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,484},{516,478}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,121},{516,478}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>020015.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,484},{518,478}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,121},{518,478}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>020016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{520,478}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,121},{520,478}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>020017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,2},{524,480}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,119},{524,480}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>020018.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{526,480}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,119},{526,480}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>020019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{528,480}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,119},{528,480}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>noddingHorse.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8814b8fc3fa36c07d02e32cba9b367d:1/1$</string>
            <key>textureFileName</key>
            <string>noddingHorse.png</string>
        </dict>
    </dict>
</plist>
