<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1452},{510,482}}</string>
                <key>offset</key>
                <string>{5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,140},{510,482}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,1478},{512,476}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{392,132},{512,476}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1470},{510,472}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,123},{510,472}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,968},{508,470}}</string>
                <key>offset</key>
                <string>{17,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{403,112},{508,470}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1936},{504,470}}</string>
                <key>offset</key>
                <string>{22,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,99},{504,470}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>010006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1944},{502,450}}</string>
                <key>offset</key>
                <string>{27,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,107},{502,450}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>010007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,1934},{506,456}}</string>
                <key>offset</key>
                <string>{29,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,112},{506,456}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>010008.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,984},{516,466}}</string>
                <key>offset</key>
                <string>{28,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,119},{516,466}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>010009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,490},{524,476}}</string>
                <key>offset</key>
                <string>{28,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,127},{524,476}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>010010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{532,488}}</string>
                <key>offset</key>
                <string>{28,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,132},{532,488}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>010011.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{538,498}}</string>
                <key>offset</key>
                <string>{29,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,139},{538,498}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>010012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{546,492}}</string>
                <key>offset</key>
                <string>{29,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,139},{546,492}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>010013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,2},{528,486}}</string>
                <key>offset</key>
                <string>{42,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,140},{528,486}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>010014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,986},{510,482}}</string>
                <key>offset</key>
                <string>{54,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,138},{510,482}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>010015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,1450},{514,482}}</string>
                <key>offset</key>
                <string>{55,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,134},{514,482}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>010016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,968},{518,480}}</string>
                <key>offset</key>
                <string>{57,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,131},{518,480}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>010017.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,502},{518,480}}</string>
                <key>offset</key>
                <string>{57,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,131},{518,480}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>runningHorse.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05cbb55cc44bb4df99a88dae778d5132:1/1$</string>
            <key>textureFileName</key>
            <string>runningHorse.png</string>
        </dict>
    </dict>
</plist>
