<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>catall0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1442},{298,382}}</string>
                <key>offset</key>
                <string>{-36,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,107},{298,382}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{298,382}}</string>
                <key>offset</key>
                <string>{-36,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,107},{298,382}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1442},{298,382}}</string>
                <key>offset</key>
                <string>{-36,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,107},{298,382}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1466},{298,382}}</string>
                <key>offset</key>
                <string>{-36,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,107},{298,382}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,1430},{298,382}}</string>
                <key>offset</key>
                <string>{-36,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,107},{298,382}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1142},{298,382}}</string>
                <key>offset</key>
                <string>{-36,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,107},{298,382}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1222},{298,382}}</string>
                <key>offset</key>
                <string>{-36,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,107},{298,382}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1142},{298,382}}</string>
                <key>offset</key>
                <string>{-36,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,107},{298,382}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,1166},{298,382}}</string>
                <key>offset</key>
                <string>{-36,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,107},{298,382}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,1166},{298,382}}</string>
                <key>offset</key>
                <string>{-36,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,107},{298,382}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,1130},{298,382}}</string>
                <key>offset</key>
                <string>{-36,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,107},{298,382}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,1130},{298,382}}</string>
                <key>offset</key>
                <string>{-36,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,107},{298,382}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1822},{294,378}}</string>
                <key>offset</key>
                <string>{-39,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,111},{294,378}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,866},{298,382}}</string>
                <key>offset</key>
                <string>{-36,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,107},{298,382}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,1766},{300,378}}</string>
                <key>offset</key>
                <string>{-36,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,111},{300,378}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,1730},{300,378}}</string>
                <key>offset</key>
                <string>{-36,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,111},{300,378}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1742},{298,378}}</string>
                <key>offset</key>
                <string>{-37,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,111},{298,378}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1822},{294,378}}</string>
                <key>offset</key>
                <string>{-39,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,111},{294,378}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,866},{298,382}}</string>
                <key>offset</key>
                <string>{-36,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,107},{298,382}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,1766},{300,378}}</string>
                <key>offset</key>
                <string>{-36,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,111},{300,378}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,866},{298,382}}</string>
                <key>offset</key>
                <string>{-36,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,107},{298,382}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,866},{298,382}}</string>
                <key>offset</key>
                <string>{-36,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,107},{298,382}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,866},{262,384}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,105},{262,384}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3204},{276,364}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,125},{276,364}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3746},{282,356}}</string>
                <key>offset</key>
                <string>{9,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,133},{282,356}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,3746},{258,356}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,133},{258,356}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,2792},{354,356}}</string>
                <key>offset</key>
                <string>{-5,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,133},{354,356}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,402}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,87},{360,402}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,3128},{360,364}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,125},{360,364}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,2430},{360,372}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,117},{360,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,2756},{360,370}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,119},{360,370}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,2430},{360,372}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,117},{360,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2842},{360,372}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,117},{360,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2766},{360,372}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,117},{360,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2676},{360,372}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,117},{360,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,2394},{360,372}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,117},{360,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,2068},{360,372}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,117},{360,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2480},{360,372}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,117},{360,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2404},{360,372}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,117},{360,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2314},{360,372}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,117},{360,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,2032},{360,372}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,117},{360,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,2032},{360,372}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,117},{360,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2118},{360,372}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,117},{360,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2118},{360,372}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,117},{360,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,2430},{360,372}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,117},{360,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,2430},{360,372}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,117},{360,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2842},{360,372}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,117},{360,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2842},{360,372}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,117},{360,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2042},{360,372}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,117},{360,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,3038},{368,362}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,127},{368,362}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3482},{262,364}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,125},{262,364}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,578},{286,384}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,105},{286,384}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,860},{280,384}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,105},{280,384}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,578},{286,384}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,105},{286,384}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{280,384}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,105},{280,384}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,572},{286,384}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,105},{286,384}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{286,384}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,105},{286,384}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{286,384}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,105},{286,384}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,572},{286,384}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,105},{286,384}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,572},{286,384}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,105},{286,384}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,290},{286,384}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,105},{286,384}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,290},{286,384}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,105},{286,384}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,290},{286,384}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,105},{286,384}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,290},{286,384}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,105},{286,384}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,284},{286,384}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,105},{286,384}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,284},{286,384}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,105},{286,384}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{286,384}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,105},{286,384}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{286,384}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,105},{286,384}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,572},{286,384}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,105},{286,384}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,572},{286,384}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,105},{286,384}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{286,384}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,105},{286,384}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{286,384}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,105},{286,384}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,284},{286,384}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,105},{286,384}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,2},{286,384}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,105},{286,384}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,2},{286,384}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,105},{286,384}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,860},{280,384}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,105},{280,384}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2030},{282,374}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,115},{282,374}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1742},{286,374}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,115},{286,374}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{280,392}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,97},{280,392}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{280,394}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,95},{280,394}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{280,394}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,95},{280,394}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,860},{280,384}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,105},{280,384}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2030},{282,374}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,115},{282,374}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1742},{286,374}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,115},{286,374}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{280,392}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,97},{280,392}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0086.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{280,394}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,95},{280,394}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{280,394}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,95},{280,394}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{280,394}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,95},{280,394}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{280,394}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,95},{280,394}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{280,394}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,95},{280,394}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{280,394}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,95},{280,394}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{280,394}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,95},{280,394}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{280,394}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,95},{280,394}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{280,394}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,95},{280,394}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{280,394}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,95},{280,394}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{280,394}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,95},{280,394}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{280,394}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,95},{280,394}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>catall0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{280,394}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,95},{280,394}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>catall.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70b24081ce860ae31d41be0870177d7e:1/1$</string>
            <key>textureFileName</key>
            <string>catall.png</string>
        </dict>
    </dict>
</plist>
