<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yes0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1510},{360,372}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,117},{360,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1136},{360,372}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,117},{360,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,376},{360,372}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,117},{360,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{360,372}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,117},{360,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{360,372}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,117},{360,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,2},{368,362}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,127},{368,362}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,316},{308,368}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,121},{308,368}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,750},{318,372}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,117},{318,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,376},{312,372}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,117},{312,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{312,372}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,117},{312,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{312,372}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,117},{312,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1498},{312,372}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,117},{312,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1498},{312,372}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,117},{312,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,750},{312,372}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,117},{312,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,750},{312,372}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,117},{312,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1124},{312,372}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,117},{312,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1124},{312,372}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,117},{312,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,2},{312,370}}</string>
                <key>offset</key>
                <string>{-6,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,119},{312,370}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,626},{312,362}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,127},{312,362}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,366},{312,362}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,127},{312,362}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{312,376}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,113},{312,376}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,380}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,109},{312,380}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,380}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,109},{312,380}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,2},{312,370}}</string>
                <key>offset</key>
                <string>{-6,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,119},{312,370}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,626},{312,362}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,127},{312,362}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,366},{312,362}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,127},{312,362}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{312,376}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,113},{312,376}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1498},{312,372}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,117},{312,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1124},{312,372}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,117},{312,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{312,372}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,117},{312,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1498},{312,372}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,117},{312,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1498},{312,372}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,117},{312,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,750},{312,372}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,117},{312,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,750},{312,372}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,117},{312,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1124},{312,372}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,117},{312,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1124},{312,372}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,117},{312,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,376},{312,372}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,117},{312,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,376},{312,372}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,117},{312,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{312,372}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,117},{312,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{312,372}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,117},{312,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,376},{312,372}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,117},{312,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,376},{312,372}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,117},{312,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{312,372}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,117},{312,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{312,372}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,117},{312,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
            <key>yes0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1498},{312,372}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,117},{312,372}}</string>
                <key>sourceSize</key>
                <string>{720,576}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>catsayyes.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86fec7c94abfeb0229b1873c3a847a0b:1/1$</string>
            <key>textureFileName</key>
            <string>catsayyes.png</string>
        </dict>
    </dict>
</plist>
