<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>butterfly0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{444,275}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,51},{444,275}}</string>
                <key>sourceSize</key>
                <string>{496,345}</string>
            </dict>
            <key>butterfly0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{432,431}}</string>
                <key>offset</key>
                <string>{28,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,37},{432,431}}</string>
                <key>sourceSize</key>
                <string>{592,493}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DialogSoundA.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a63e6b95c697dd9ffd720f70177f32d2:1/1$</string>
            <key>textureFileName</key>
            <string>DialogSoundA.png</string>
        </dict>
    </dict>
</plist>
