<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Little_b01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,758},{106,146}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,72},{106,146}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_b02.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,650},{106,146}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,72},{106,146}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_b03.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,650},{106,146}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,72},{106,146}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_b04.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,798},{106,146}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,72},{106,146}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_b05.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,650},{106,146}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,72},{106,146}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_b06.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,542},{106,146}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,72},{106,146}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_b07.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,542},{106,146}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,72},{106,146}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_b08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{106,146}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,72},{106,146}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_b09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{106,146}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,72},{106,146}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_b10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{106,146}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,72},{106,146}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_b11.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,434},{106,146}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,72},{106,146}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_b12.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,434},{106,146}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,72},{106,146}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_b13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{106,146}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,72},{106,146}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_b14.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,326},{106,146}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,72},{106,146}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_b15.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,326},{106,146}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,72},{106,146}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_b16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{106,146}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,72},{106,146}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_b17.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,218},{106,146}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,72},{106,146}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_b18.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,218},{106,146}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,72},{106,146}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_b19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{106,146}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,72},{106,146}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_b20.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,110},{106,146}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,72},{106,146}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_b21.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,110},{106,146}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,72},{106,146}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_b22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{106,146}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,72},{106,146}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_b23.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{106,146}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,72},{106,146}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_b24.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{106,146}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,72},{106,146}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_b25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,146}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,72},{106,146}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LittleBAnim.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1012943377a86f1fa1ca0a1805c4e2cc:1/1$</string>
            <key>textureFileName</key>
            <string>LittleBAnim.png</string>
        </dict>
    </dict>
</plist>
